body {
    font-family: 'Arial', sans-serif;
    background-color: #E6E6FA;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .resume-container {
    width: 80%;
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: #e0cbcb;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  header {
    text-align: center;
    border-bottom: 3px solid #351414;
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
  
  h1 {
    font-size: 2.5em;
    margin: 0;
    color: #333;
  }
  
  p {
    font-size: 1.1em;
    margin: 5px 0;
  }
  
  a {
    color: #00aaff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  section {
    margin-bottom: 25px;
  }
  
  h2 {
    font-size: 1.8em;
    color: #00aaff;
    border-bottom: 2px solid #00aaff;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
  
  h3 {
    font-size: 1.4em;
    color: #333;
    margin: 5px 0;
  }
  
  ul {
    list-style: square inside;
    margin: 10px 0;
    padding-left: 20px;
  }
  
  li {
    margin-bottom: 8px;
  }
  
  .skills ul {
    list-style: none;
    padding: 0;
  }
  
  .skills li::before {
    content: "• ";
    color: #00aaff;
    font-weight: bold;
  }
  
  .Image {
    text-align: center;
    margin-bottom: 25px;
  }
  
  .Image img {
    border-radius: 50%;
    border: 3px solid #00aaff;
  }
  .Image {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 100px;
  }
  
  .education, .experience, .skills, .languages {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
  }
  
  .education p, .experience p, .skills p, .projects p {
    color: #555;
  }
  
  .resume-container h2 {
    text-transform: uppercase;
  }
  
  .resume-container h3 {
    font-weight: bold;
    color: #333;
  }
  
  .resume-container ul {
    font-size: 1.1em;
  }
  
  footer {
    text-align: center;
    margin-top: 30px;
    font-size: 0.9em;
    color: #777;
  }
  